apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cronjob.yaml
  - ingress.yaml
  - webhook-receiver.yaml
  - event-setup-job.yaml
  - event-sync-cronjob.yaml

patches:
  - path: minio-lifecycle-patch.yaml
    target:
      kind: Deployment
      name: minio

configMapGenerator:
  - name: pipeline-config
    envs:
      - config.env
    options:
      disableNameSuffixHash: true
  - name: airflow-dags
    files:
      - pipeline.py=../src/dags/pipeline.py
    options:
      disableNameSuffixHash: true
  - name: pipeline-scripts
    files:
      - ../src/scripts/generator.py
      - ../src/scripts/processor.py
    options:
      disableNameSuffixHash: true
  - name: webhook-scripts
    files:
      - receiver.py=../src/webhook/receiver.py
    options:
      disableNameSuffixHash: true

helmCharts:
  - name: airflow
    repo: https://airflow.apache.org
    version: 1.15.0
    releaseName: airflow
    namespace: default
    valuesFile: airflow-values.yaml
  
  - name: minio
    repo: https://charts.min.io/
    version: 5.4.0
    releaseName: minio
    namespace: default
    valuesFile: minio-values.yaml
